In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer

In [2]:
cars = pd.read_csv('carsData.csv')
cars.head(10)

,Unnamed: 0,manufacturer_name,model_name,odometer_value,engine_has_gas,has_warranty,transmission,year_produced,body_type,price_usd,...,EngType_gasoline,EngType_diesel,EngType_electric,all_drivTrain,front_drivTrain,rear_drivTrain,state_owned,state_emergency,state_new,engine_capacity
0,1,Subaru,Outback,190000,0,0,1,2010,universal,10900.00,...,1,0,0,1,0,0,1,0,0,2.5
1,2,Subaru,Outback,290000,0,0,1,2002,universal,5000.00,...,1,0,0,1,0,0,1,0,0,3.0
2,3,Subaru,Forester,402000,0,0,1,2001,suv,2800.00,...,1,0,0,1,0,0,1,0,0,2.5
3,4,Subaru,Impreza,10000,0,0,0,1999,sedan,9999.00,...,1,0,0,1,0,0,1,0,0,3.0
4,5,Subaru,Legacy,280000,0,0,1,2001,universal,2134.11,...,1,0,0,1,0,0,1,0,0,2.5
5,6,Subaru,Outback,132449,0,0,1,2011,universal,14700.00,...,1,0,0,1,0,0,1,0,0,2.5
6,7,Subaru,Forester,318280,0,0,1,1998,universal,3000.00,...,1,0,0,1,0,0,1,0,0,2.5
7,8,Subaru,Legacy,350000,0,0,1,2004,sedan,4500.00,...,1,0,0,1,0,0,1,0,0,2.5
8,9,Subaru,Outback,179000,0,0,1,2010,universal,12900.00,...,1,0,0,1,0,0,1,0,0,2.5
9,10,Subaru,Forester,571317,0,0,1,1999,universal,4200.00,...,1,0,0,1,0,0,1,0,0,2.5

['Unnamed: 0',
 'manufacturer_name',
 'model_name',
 'transmission',
 'color',
 'odometer_value',
 'year_produced',
 'engine_fuel',
 'engine_has_gas',
 'engine_type',
 'engine_capacity',
 'body_type',
 'has_warranty',
 'state',
 'drivetrain',
 'price_usd',
 'is_exchangeable',
 'location_region',
 'number_of_photos',
 'up_counter',
 'feature_0',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'duration_listed',
 'Color_silver',
 'Color_blue',
 'Color_red',
 'Color_black',
 'Color_grey',
 'Color_other',
 'Color_brown',
 'Color_white',
 'Color_green',
 'Color_violet',
 'Color_orange',
 'Color_yellow',
 'EngFuel_gasoline',
 'EngFuel_gas',
 'EngFuel_diesel',
 'EngFuel_hybrid-petrol',
 'EngFuel_hybrid-diesel',
 'EngFuel_electric',
 'EngType_gasoline',
 'EngType_diesel',
 'EngType_electric',
 'all_drivTrain',
 'front_drivTrain',
 'rear_drivTrain',
 'state_owned',
 'state_emergency',
 'state_new']

In [16]:
CarsData = cars['manufacturer_name',
 'model_name', 'year_produced','body_type','location_region','transmission','odometer_value','engine_capacity',
               'has_warranty','is_exchangeable','number_of_photos','up_counter','duration_listed','Color_silver',
               'Color_blue','Color_red','Color_black','Color_grey','Color_other','Color_brown','Color_white',
               'Color_green','Color_violet','Color_orange','Color_yellow','EngFuel_gasoline','EngFuel_gas',
               'EngFuel_diesel','EngFuel_hybrid-petrol','EngFuel_hybrid-diesel','EngFuel_electric','EngType_gasoline',
               'EngType_diesel','EngType_electric', 'all_drivTrain','front_drivTrain','rear_drivTrain','state_owned','state_emergency',
 'state_new','price_usd']

KeyError: ('manufacturer_name', 'model_name', 'year_produced', 'body_type', 'location_region', 'transmission', 'odometer_value', 'engine_capacity', 'has_warranty', 'is_exchangeable', 'number_of_photos', 'up_counter', 'duration_listed', 'Color_silver', 'Color_blue', 'Color_red', 'Color_black', 'Color_grey', 'Color_other', 'Color_brown', 'Color_white', 'Color_green', 'Color_violet', 'Color_orange', 'Color_yellow', 'EngFuel_gasoline', 'EngFuel_gas', 'EngFuel_diesel', 'EngFuel_hybrid-petrol', 'EngFuel_hybrid-diesel', 'EngFuel_electric', 'EngType_gasoline', 'EngType_diesel', 'EngType_electric', 'all_drivTrain', 'front_drivTrain', 'rear_drivTrain', 'state_owned', 'state_emergency', 'state_new', 'price_usd')

In [5]:
cars['engine_has_gas'].unique()

array([False,  True])

In [6]:
# encoding engine_has_gas 
cars["EngineHasGas"] = encodFunc.fit_transform(cars["engine_has_gas"])
cars[["engine_has_gas", "EngineHasGas"]].tail(10)

       engine_has_gas  EngineHasGas
38521           False             0
38522           False             0
38523           False             0
38524           False             0
38525            True             1
38526           False             0
38527           False             0
38528           False             0
38529           False             0
38530           False             0

In [7]:
#check unique values of engine_type
cars['engine_type'].unique()

array(['gasoline', 'diesel', 'electric'], dtype=object)

In [8]:
#encoding engine type
cars["EngineType"] = encodFunc.fit_transform(cars["engine_type"])
cars[["engine_type", "EngineType"]].tail(10)

      engine_type  EngineType
38521    gasoline           2
38522    gasoline           2
38523      diesel           0
38524    gasoline           2
38525    gasoline           2
38526    gasoline           2
38527      diesel           0
38528    gasoline           2
38529    gasoline           2
38530    gasoline           2

In [9]:
#check unique values of engine_type
cars['engine_fuel'].unique()

array(['gasoline', 'gas', 'diesel', 'hybrid-petrol', 'hybrid-diesel',
       'electric'], dtype=object)